@font-face {
  font-family: "Outfit";
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Young Serif";
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --stone900: hsl(24, 5%, 18%);
  --stone600: hsl(30, 10%, 34%);
  --stone100: hsl(30, 54%, 90%);
  --stone150: hsl(30, 18%, 87%);
  --brown800: hsl(14, 45%, 36%);
  --rose800: hsl(332, 51%, 32%);
  --rose50: rgb(241, 219, 231);
}
html {
  height: 100%;
  line-height: 1.5;
}
img {
  width: 100%;
  vertical-align: middle;
  border-radius: 8px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--rose50);
  padding-block: 115px;
}
.container {
  display: flex;
  flex-direction: column;
  width: 740px;
  padding: 40px;
  background-color: white;
  border-radius: 24px;
}
h1 {
  font-size: 40px;
  font-family: "Young Serif";
  font-weight: 400;
  color: var(--stone900);
  margin-top: 25px;
}
.textos p {
  font-size: 16px;
  margin-top: 8px;
  font-family: "Outfit";
  font-weight: 400;
  color: var(--stone600);
}
.box-preparation {
  background-color: var(--rose50);
  padding: 20px;
  margin-top: 30px;
  border-radius: 15px;
}
.box-preparation ul {
  list-style-position: inside;
  padding: 10px;
}
.box-preparation li {
  margin-bottom: 10px;
  font-family: "Outfit";
  font-size: 16px;
  color: var(--stone600);
}
.box-preparation li:last-of-type {
  margin-bottom: 0;
}
.preparation {
  font-family: "Outfit";
  color: var(--rose800);
  font-size: 20px;
}
.ingredientes h2 {
  font-size: 30px;
  font-family: "Young Serif";
  font-weight: 400;
  color: var(--rose800);
  margin-bottom: 10px;
  justify-content: left;
}
.ingredientes {
  margin-top: 20px;
  color: var(--stone600);
  font-family: "Outfit";
  margin-bottom: 20px;
}
.ingredientes ul {
  list-style-position: inside;
  border-bottom: 1px solid var(--stone100);
  padding-bottom: 25px;
}
.ingredientes li:last-of-type {
  margin-bottom: 0;
}
.ingredientes li {
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: 450;
}
.instrucoes h2 {
  font-size: 30px;
  font-family: "Young Serif";
  font-weight: 400;
  color: var(--rose800);
  margin-bottom: 15px;
  justify-content: left;
}
.instrucoes ol {
  list-style-position: inside;
  border-bottom: 1px solid var(--stone100);
  padding-bottom: 25px;
}
.instrucoes li {
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: 450;
  font-family: "Outfit";
  color: var(--stone600);
}
.nutricao h2 {
  font-size: 30px;
  font-family: "Young Serif";
  font-weight: 400;
  color: var(--rose800);
  justify-content: left;
  margin-top: 20px;
  margin-bottom: 15px;
}
td {
  border-bottom: 1px solid var(--stone100);
  font-family: "Outfit";
  color: var(--stone600);
  padding-left: 25px;
  padding-block: 10px;
  font-size: 18px;
}
.last-item {
  border-bottom:0;
}
table {
  width: 100%;
}
.value {
  color: var(--rose800);
  font-size: 18px;
  font-weight: 600;
  padding-left: 0;
}
.attribution{
  position: fixed;
  bottom: 2px;
  left: 2px;
}